//fonts// 
$main-title-font: 'Poppins', sans-serif;
$links-text-font: 'Source Sans Pro', sans-serif;
$logo-font: 'Baloo 2', cursive;

//font sizes//
$s-x-small: 12px;
$s-small: 16px;
$s-normal: 22px;
$s-medium: 24px;
$s-large: 36px;
$s-x-large: 72px;
$s-xx-large: 90px;

//font weights// 
$w-normal: 400;
$w-medium: 500;

//colors// 
$text-color: #242635;
$white-color: #fff;
