@use 'var';

@media  screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 0;
        &__left {
            width: 80vw;
            max-width: 768px;
            height: 50vh;
            padding: 8vh 0 0 0;
            align-content: space-between;
            .header {
                width: 80vw;
                .nav {
                    &__links {
                        width: 35vw;
                    }
                }
            }
            .main {
                width: 80vw;
                align-items: center;
                &__title {
                    padding-bottom: 3vh;
                    font-size: var.$s-x-large;
                }
                &__text {
                    padding-bottom: 5vh;
                    text-align: center;
                }
                &__icon {
                    display: none;
                }
            }
        }
        &__right {
            padding: 0;
            width: 80vw;
            height: 50vh;
        }
    }
}

@media  screen and (max-width: 320px) {
    .container {
        gap: 0;
        &__left {
            max-width: 320px;
            padding: 2vh 0 0 0;
            .header {
                .nav {
                    &__links {
                        display: none;
                    }
                    &__icon {
                        display: flex;
                        align-self: center;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .main {
                &__title {
                    font-size: var.$s-large;
                }
                &__text {
                    font-size: var.$s-x-small;
                    line-height: 18px;
                }
            }
        }
    }
}